@charset "UTF-8";

html {
    margin: 0;
    padding: 0;
}

.container {
    width: 400px;
    margin: 0 auto;
}

.container2 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.todo {
    background-color: #e6e1f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #CCCCFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Imbue', sans-serif;
    font-size: 30px;
}

body {
    background-color: #CCCCFF;
}

#search {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCFF;
    border-radius: 5px;
    font-family: 'Afacad', sans-serif;
    font-size: medium;
}

#new-task {
    flex: 1;
    padding: 10px;
    border: 1px solid #CCCCFF;
    border-radius: 5px;
    font-family: 'Afacad', sans-serif;
    font-size: medium;
}

.kalendarz {
    padding: 10px;
    border: 1px solid #CCCCFF;
    border-radius: 5px;
    font-size: small;
}

.lista {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.lista li {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #CCCCFF;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Afacad', sans-serif;
}

.highlight {
    background-color: #f9abe7;
}

button.delete-task {
    background-color: #CCCCFF;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Afacad', sans-serif;
    font-size: medium;
}

#add-task {
    background-color: #CCCCFF;
    color: black;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Afacad', sans-serif;
    font-size: medium;
}
