@charset "UTF-8";

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'The Aesthetic Essential', sans-serif;
    font-style: normal;
    background-color: #ffeeee;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

header {
    font: 150%;
    font-family: 'The Aesthetic Essential', sans-serif;
    color: #ff8fa0;
    text-align: center;
}

p, p1, p2, p3 {
    color: #ff8fa0;
}

h1, h2, h3 {
    color: #ff8fa0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 250px;
    gap: 20px;
    margin: 20px;
}

.main {
    background: #fff9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
}

section {
    margin-bottom: 20px;
}

ul {
    font: garamond, serif;
    color: #ff8fa0;
}

.sidebar {
    background-color: #fff9f9;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: auto;
}
